.add-comment-form {
  display: flex;
  margin: 1.3rem ;
  width: 100%;
}

.add-comment-input {
  width: 100%;
  font-size: 1.5rem;
  border: none;
  padding: 0.6rem;
  border-radius: 6px;
  margin-right: 0.5rem;
}

.add-comment-btn {
  background-color: gray;
  color: var(--white-color);
  font-size: 1.1rem;
  cursor: pointer;
  padding: 0.6rem 0.9rem;
  border-radius: 1.1rem;
  border: none;
}
